{% set count = 0 %}
{% for section in sectionlist %}
  {% if section.data.gallery %}
    <section class="wrapper">
      <div class="carousel">
        {% for img in section.data.gallery %}

          <input type="checkbox" class="faux-ui-facia">
          <div class="slide">
            <img src="{{img}}" alt="Gallery Image">
          </div>
        {% endfor %}

      </div>
    </section>
  {% else %}
    {% if section.data.imgurl %}
      {% set hasText = true if section.templateContent else 
        false %}
      {% set count = count + 1 %}
      {% if count % 2 == 1 %}
        <section class="wrapper style1">
          <div class="inner">
            <!-- 2 Columns -->

            <div {% if hasText %} class="flex flex-2" {% endif %}>
              <div class="col col1">
                <div class="image {{ section.data.imgshape }} fit">
                  {% if section.data.imghref %}
                    <a href="{{ section.data.imghref }}" class="link" target="_blank"><img src="{{ section.data.imgurl }}" alt=""/></a>
                  {% else %}
                    <img src="{{ section.data.imgurl }}" alt=""/>
                  {% endif %}
                </div>
              </div>
              <div class="col col2">
                <h3>{{ section.data.heading }}</h3>
                {{ section.templateContent | safe }}
              </div>
            </div>
          </div>
        </section>

      {% else %}
        <section class="wrapper style2">
          <div class="inner">
            <div {% if hasText %} class="flex flex-2" {% endif %}>
              <div class="col col2">
                <h3>{{ section.data.heading }}</h3>
                {{ section.templateContent | safe }}
              </div>
              <div class="col col1 first">
                <div class="image {{ section.data.imgshape }} fit">
                  {% if section.data.imghref %}
                    <a href="{{ section.data.imghref }}" class="link" target="_blank"><img src="{{ section.data.imgurl }}" alt=""/></a>
                  {% else %}
                    <img src="{{ section.data.imgurl }}" alt=""/>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% else%}
      <section class="wrapper">
        <div class="inner">
          {% if section.data.heading %}
            <h3>{{ section.data.heading }}</h3>
          {% endif %}
          {{ section.templateContent | safe }}
        </div>
      </section>
      {% endif%}
    {% endif %}
  {% endfor %}
